<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>MyServletProject01</display-name>
  
 <!--  <servlet>
  	<servlet-name>MyServlet01</servlet-name>
  	<servlet-class>com.cwr.MyServletClass</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>MyServlet01</servlet-name>
  	<url-pattern>/home</url-pattern>
  </servlet-mapping> -->
  
  <servlet>
  <servlet-name>MyLogin</servlet-name>
  <servlet-class>com.cwr.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>MyLogin</servlet-name>
  <url-pattern>/login</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>MyRegister</servlet-name>
  <servlet-class>com.cwr.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>MyRegister</servlet-name>
  <url-pattern>/register</url-pattern>
  </servlet-mapping>
</web-app>